* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CUSTOM PROPERTIES */

:root {
  --ff-primary: sans-serif;
  --ff-secondary: monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --cl-light: #fff;
  --cl-soft-theme: #F2F8FE;
  --cl-theme: #269AFA;
  --cl-accent: #FEEB00;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-small: 0.675rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}



/* LOGIN */
.login {
  background-color: var(--cl-soft-theme);
  height: 100vh;
  color: var(--cl-theme);
}

.login--title {
  text-align: center;
  padding-block: 30px;
  text-transform: uppercase;
}

.login--form {
  margin: 0 auto;
  width: 80%;
  max-width: 350px;
}

.login--input {
  display: grid;
  grid-template: 15px 50px / 1fr 1fr;
  align-items: center;
}

.login--username_input, .login--username_wrong_input {
  grid-column: 1 / -1;
  height: 80%;
  margin-bottom: 7px;
  padding-left: 15px;
  border: 1px solid var(--cl-theme);
  color: var(--cl-theme);
}

.login--username_wrong_input:focus {
  outline-color: red;
}


.login--required {
  justify-self: end;
}

.login--label, .login--required {
  font-size: var(--fs-small);
}

.login--submit, .login--submit_disabled {
  width: 100%;
  border: none;
  height: 45px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  font-size: var(--fs-body);
  cursor: pointer;
}

.login--submit {
  background-color: var(--cl-theme);
  color: var(--cl-light);
}

.login--submit_disabled {
  background-color: grey;
  color: var(--cl-light);
}


/* CONTACT LIST SECTION */

.contact_list {
  margin-bottom: 90px;
}

.contact_list--title {
  margin-block: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--cl-theme);
}

.contact_list--item {
  background-color: var(--cl-soft-theme);
  max-width: 350px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  padding: 20px;
}

.contact_list--initials {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--cl-theme);
  color: var(--cl-light);
  display: grid;
  justify-items: center;
  align-items: center;
  margin-right: 15px;
}

.contact_list--info {
  color: var(--cl-theme)
}

.contact_list--name {
  font-weight: var(--fw-bold);
}

/* MENU */

.menu {
  background-color: var(--cl-theme);
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: var(--fw-bold);
  height: 60px;
  justify-items: stretch;
  align-items: stretch;
}

.menu--contacts, .menu--posts, .menu--logout {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.menu--contacts, .menu--posts {
  background-color: var(--cl-theme);
  color: var(--cl-light);
}

.disabled {
  opacity: 0.25;
}

.menu--logout {
  background-color: var(--cl-accent);
  color: var(--cl-theme);
}